<!DOCTYPE html>
<html>
  <head>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Bootstrap scripts -->
     <!-- Latest compiled and minified CSS --> 
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--   <link rel="stylesheet" href="{{url_for('static', filename='UI_style.css')}}">
    <script src="{{url_for('static', filename='UI_functionality.js')}}"></script> -->

  <link rel="stylesheet" href="/static/UI_style.css">
  <script src="/static/UI_functionality.js"></script>
  
  <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  
   <!--Syntax Highlighting -->
  <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
  <script src="/static/codemirror/lib/codemirror.js"></script>
  <script src="/static/codemirror/addon/edit/matchbrackets.js"></script>
  <script src="/static/codemirror/mode/python/python.js"></script>    
  <script src="/static/codemirror/mode/stex/stex.js"></script> 
  <script src="/static/codemirror/mode/r/r.js"></script> 
  
    <script>
    if (!!window.EventSource) {
        var source = new EventSource('/get_messages');
        source.onmessage = function(e) {
            var m = $("#cont1");
            //console.log(e.data);
            var data = JSON.parse(e.data);
            m.append("<div class='bubble' data-msg-raw='"+data.raw_message+"' data-msg-type='"+data.message_type+"'><p>"+data.message+"</p></div><span class='datestamp dt-alt'><b>"+data.author+"</b>:"+data.time_created+"</span>");
             
             //Needed because MathJax only formats on page load   
             MathJax.Hub.Queue(["Typeset", MathJax.Hub, "messages"]);
             var d = $('.chat-container');
             d.scrollTop(d.prop("scrollHeight"));
             
            $( ".bubble" ).click(function() {
                
                $('.editor-input').hide();
                $('.script-editor.active').removeClass('active');
                
                msg_type = $(this).attr('data-msg-type');
                msg_raw = $(this).attr('data-msg-raw');
                
                if( msg_type == 1)  { //Text
                    $('#editor1').show();
                    $('#editor1-btn').addClass('active');
                    MyProject.cmeditor1.setValue(msg_raw);
                    console.log(msg_raw)
                } else if( msg_type == 2 ) { //Python
                    $('#editor2').show();
                    $('#editor2-btn').addClass('active');
                    MyProject.cmeditor2.setValue(msg_raw);
                } else if( msg_type == 3 ) { //Python
                    $('#editor3').show();
                    $('#editor3-btn').addClass('active');
                    MyProject.cmeditor3.setValue(msg_raw);
                }
            });
        }
        source.onopen = function(e) {
            //console.log('onopen');
        }
    }
    </script>
    
    <script>
    if (!!window.EventSource) {
        var source = new EventSource('/get_events');
        source.onmessage = function(e) {
            var m = $("#topics");
            var n = $("#chat-boxes");
            console.log(e.data);
            var data = JSON.parse(e.data);
            if (data.event_type == 'create_topic') {
                n.append("<div class='chat-container' id=data.name></div>")
                m.append("<div class='user-profile' data-up=data.name></div><span>data.name</span>");
            }
        }
        source.onopen = function(e) {
            console.log('onopen events');
        }
    }
    </script>


  </head>

  <body >
<div class="container-fluid" >
<!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col-md-6" >
        <div class="row">


            <div class="editor-header">
              <div class="script-editor active" id="editor1-btn" data-up='editor1'></div>
                <span>Text</span>
              <div class="script-editor" id="editor2-btn" data-up='editor2'></div>
                <span>Python</span>
              <div class="script-editor" id="editor3-btn" data-up='editor3'></div>
                <span>R</span>
              <div class="script-editor" id="editor4-btn" data-up='editor4'></div>
                <span>Upload</span>
              <button id="send-btn" type="button" class="btn btn-primary">Send</button>
                <span></span>
            </div>

            <div class = "editor-box">
                <div class ="editor-input" id="editor1"><textarea id="editor1-textarea">Type text here</textarea></div>
                <div class ="editor-input" id="editor2"><textarea id="editor2-textarea">Type Python code here</textarea></div>
                <div class ="editor-input" id="editor3"><textarea id="editor3-textarea">Type R code here</textarea></div>
                <div class ="editor-input" id="editor4">
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <label for="file">Select a file</label>
                            <input  name="file" type="file">

                            <button class="btn btn-default"  id="upload-file-btn" type="button">Upload file</button>
                        </fieldset>

                    </form>
                </div>
            </div>

     
        </div>
    </div>

    <div class = "col-md-6">

        <div class="chat-header"  id='topics'>

        <div class="user-profile active" data-up='General'></div>
        <span>General</span>

        <button type="button" id="create-topic-btn" class="btn btn-success">+</button>
        <input type="text" id="new-topic-name"/>
        </div>
              
        <div class="chat-box" id='chat-boxes'>

            <div class="chat-container active" id='General'>
            </div>

          </div>
        </div>
      </div>
    </div>
      <script>
    $( "#send-btn" ).click(function() {
          var editor = $('.script-editor.active').attr("data-up");
          
          topic = $('.user-profile.active').attr("data-up");
          
          if(editor == "editor1") { //text editor
              $.post( "/send", {type:"text",message:MyProject.cmeditor1.getValue(), topic:topic} );
          } else if (editor == "editor2") {
              $.post( "/send", {type:"python",message:MyProject.cmeditor2.getValue(), topic:topic} );
          } else if (editor == "editor3") {
              $.post( "/send", {type:"r",message:MyProject.cmeditor3.getValue(), topic:topic} );
          }
        });
        $( "#create-topic-btn" ).click(function() {
          new_topic = $('#new-topic-name').val();
          $.post( "/create_topic", {name:new_topic});
          $('#new-topic-name').val("");
        });
      $(function() {
    $('#upload-file-btn').click(function() {
            var form_data = new FormData($('#upload-file')[0]);
            $.ajax({
                type: 'POST',
                url: '/upload_image',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                async: false,
                success: function(data) {
                    console.log('Success!');
                },
            });
        });
    });

  </script>
  </body>
</html>
